#cardborder {
	border-style: solid;
	border-width: 0.5px;
	border-color: lightgrey;
	border-radius: 5px;
	width: 300px;
	padding: 10px;
	box-shadow: 5px 5px 5px lightgrey;
}

.heading {
	font-size: 50px;
	margin: 5px;
	margin-top: 0;
	text-align: center;
}

.catimg {
	width: 300px;
	border: inherit;
	border-radius: inherit;
	filter: grayscale(100%);
}

.info {
	border: inherit;
	width: 276px;
	border-radius: inherit;
	padding: 12px;
	text-align: justify;
}

.fact {
	font-style: italic;
	margin-top: 5px;
}

ul {
	list-style-type: none;
	padding: 0;
}

.label {
	font-weight: bold;
}

.desc {
	margin-bottom: 2px;
}
