#cardborder {
	border-style: solid;
	border-width: 0.5px;
/*
	SUGGESTION
Shorthand should be used.

CSS offers a variety of shorthand properties (like padding rather than explicitly setting padding-top, `padding-bottom, etc.) that should be used whenever possible, with the exception of font properties and properties intended to override properties of the same name in a framework such as Bootstrap.

Using shorthand properties is useful for code efficiency and understandability. The font shorthand property is recommended when setting all font related properties but is not required when making minor modifications. When using the font shorthand property, keep in mind that if font size and family are not included browsers will ignore entire font statement.

Not Recommended:

border-top-style: none;
font-family: palatino, georgia, serif;
font-size: 100%;
line-height: 1.6;
padding-bottom: 2em;
padding-left: 1em;
padding-right: 1em;
padding-top: 0;
Recommended:

border-top: 0;
font: 100%/1.6 palatino, georgia, serif;
padding: 0 1em 2em;
*/
	border-color: lightgrey;
	border-radius: 5px;
	width: 300px;
	padding: 10px;
	box-shadow: 5px 5px 5px lightgrey;
}

.heading {
	font-size: 50px;
	margin: 5px;
	margin-top: 0;
	text-align: center;
}

.catimg {
	width: 300px;
	border: inherit;
	border-radius: inherit;
	filter: grayscale(100%);
}

.info {
	border: inherit;
	width: 276px;
	border-radius: inherit;
	padding: 12px;
	text-align: justify;
}

.fact {
	font-style: italic;
	margin-top: 5px;
}

ul {
	list-style-type: none;
	padding: 0;
}

.label {
	font-weight: bold;
}

.desc {
	margin-bottom: 2px;
}
